---
import Layout from '@/layouts/Layout.astro';
import { Editor } from '@/components/Editor';
---

<Layout>
  <main class="max-w-screen-md px-4 mb-24 object-center m-auto text-center">
    <Editor client:only />
  </main>
</Layout>
