---
import Layout from '@/layouts/Layout.astro';
import { Editor } from '@/components/Editor';
---

<Layout>
  <main class="m-auto mb-24 max-w-screen-md object-center px-4 text-center">
    <Editor client:only />
  </main>
</Layout>
