---
import { SignedIn } from '@clerk/astro/components';
import Layout from '@/layouts/Layout.astro';
import { api } from '@/lib/api';
import type { Newsletter } from '@/lib/types';

const { slug } = Astro.params;
if (!slug) {
  return new Response(null, { status: 404 });
}

let {
  id,
  content,
  blocks,
  isPublished,
  updatedAt,
  createdAt,
}: Partial<Newsletter> = {};

try {
  const res: Newsletter = await api.get(`/newsletter/${slug}`);

  id = res.id;
  content = res.content;
  blocks = res.blocks;
  isPublished = res.isPublished;
  updatedAt = res.updatedAt;
  createdAt = res.createdAt;
} catch (error) {
  return new Response(null, { status: 404 });
}
---

<Layout
  title={slug!
    .split('-')
    .map((word) => word.charAt(0).toUpperCase() + word.slice(1))
    .join(' ')}
  }
>
  <main
    class="max-w-screen-md px-4 mb-24 object-center m-auto text-left codex-editor pt-4 md:pt-8"
  >
    <SignedIn>
      <div class="flex justify-end items-center w-full mb-4">
        <a
          href={`/edit/${slug}`}
          class="px-4 py-2 content-center justify-center cursor-pointer bg-zinc-200/50 hover:dark:bg-zinc-800 hover:bg-zinc-200/80 dark:bg-zinc-800/50 rounded-md font-medium transition-all border-none text-sm no-underline hover:text-inherit"
        >
          Editar
        </a>
      </div>
    </SignedIn>
    <article set:html={content} />
  </main>
</Layout>
