---
import { SignedIn } from '@clerk/astro/components';
import Layout from '@/layouts/Layout.astro';
import { api } from '@/lib/api';
import type { Newsletter } from '@/lib/types';

const { slug } = Astro.params;
if (!slug) {
  return new Response(null, { status: 404 });
}

let {
  id,
  content,
  blocks,
  isPublished,
  updatedAt,
  createdAt,
}: Partial<Newsletter> = {};

try {
  const res: Newsletter = await api.get(`/newsletter/${slug}`);

  id = res.id;
  content = res.content;
  blocks = res.blocks;
  isPublished = res.isPublished;
  updatedAt = res.updatedAt;
  createdAt = res.createdAt;
} catch (error) {
  return new Response(null, { status: 404 });
}
---

<Layout
  title={slug!
    .split('-')
    .map((word) => word.charAt(0).toUpperCase() + word.slice(1))
    .join(' ')}
  }
>
  <main
    class="codex-editor m-auto mb-24 max-w-screen-md object-center px-4 pt-4 text-left md:pt-8"
  >
    <SignedIn>
      <div class="mb-4 flex w-full items-center justify-end">
        <a
          href={`/edit/${slug}`}
          class="cursor-pointer content-center justify-center rounded-md border-none bg-zinc-200/50 px-4 py-2 text-sm font-medium no-underline transition-all hover:bg-zinc-200/80 hover:text-inherit dark:bg-zinc-800/50 hover:dark:bg-zinc-800"
        >
          Editar
        </a>
      </div>
    </SignedIn>
    <article set:html={content} />
  </main>
</Layout>
