@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --font-sans: "Figtree Variable"
}

@layer base {
  #editor h1 {
    @apply text-3xl text-center font-semibold;
  }
  #editor h2 {
    @apply text-2xl font-semibold;
  }
  #editor h3 {
    @apply text-xl font-semibold;
  }
  #editor h4 {
    @apply text-lg font-semibold;
  }
  #editor h5 {
    @apply text-base font-semibold;
  }
  #editor h6 {
    @apply text-sm;
  }
  #editor a {
    @apply underline hover:text-blue-600 dark:hover:text-blue-400;
  }
  #editor hr {
    @apply mx-auto my-4 h-1 w-48 rounded border-0 bg-zinc-100 dark:bg-zinc-700 md:my-10;
  }
  #editor blockquote {
    @apply my-2 border-l-4 border-zinc-200 pl-4 dark:border-zinc-600;
  }
  #editor p {
    @apply my-1;
  }
  #editor ul {
    @apply list-inside list-disc;
  }
  #editor ul > p {
    @apply my-0 inline;
  }
  #editor ol {
    @apply list-inside list-decimal;
  }
  #editor ol > p {
    @apply my-0 inline;
  }
  #editor li {
    @apply my-2;
  }
  #editor li > p {
    @apply my-0 inline;
  }
  #editor li[data-checked] {
    @apply list-none flex items-center gap-2 my-1;
  }
  #editor li[data-checked] > div {
    @apply inline;
  }
  #editor li[data-checked="true"] > div {
    @apply line-through;
  }
  #editor li[data-checked] p {
    @apply m-0 inline;
  }
  #editor li[data-checked] label {
    @apply flex items-center;
  }
  #editor code {
    @apply bg-zinc-100 dark:bg-zinc-700 px-1 py-0.5 rounded text-sm;
  }
  #editor pre {
    @apply bg-zinc-100 dark:bg-zinc-700 p-4 rounded overflow-x-auto;
  }
  #editor p.is-editor-empty:first-child::before {
    @apply text-zinc-400 dark:text-zinc-500 pointer-events-none float-left h-0 text-lg;
    content: attr(data-placeholder);
  }
  .codex-editor__redactor {
    padding-bottom: 0px !important;
  }

    #header-nav {
        animation: blur linear both;
        animation-timeline: scroll();
        animation-range: 0 500px;
    }

    ::-webkit-scrollbar {
        width: 8px;
    }
    ::-webkit-scrollbar-track {
        background: transparent;
        backdrop-filter: blur(10px);
        border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb {
        background: rgba(var(--color-darker), 0.3);
        backdrop-filter: blur(10px);
        border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: rgba(var(--color-darker), 0.5);
    }
    @keyframes blur {
        to {
            box-shadow:
            0px 5px 50px -5px rgba(var(--color-darker), 0.1),
            0px 0px 0 1px rgba(var(--color-darker), 0.3);
            background: rgba(var(--color-darker), 0.3);
            backdrop-filter: blur(10px);
        }
    }
}
