---
import Layout from '@/layouts/Layout.astro';
---

<Layout>
  <main
    class="min-h-screen flex items-center justify-center text-center px-4 select-none"
  >
    <h1 class="text-4xl font-bold mb-4">
      404 - No hemos encontrado lo que buscas
    </h1>
  </main>
</Layout>
