---
import Layout from '@/layouts/Layout.astro';
import { NewsletterForm } from '@/components/Form';
---

<Layout>
  <main
    class="max-w-screen-md px-4 mb-24 object-center m-auto text-center select-none"
  >
    <section class="mt-24 md:mt-32 mb-12">
      <h1
        class="text-4xl md:text-5xl font-bold tracking-tight mb-4 text-yellow-500 dark:text-yellow-400"
      >
        El Mail de JRG
      </h1>
      <p class="text-lg md:text-xl mb-8">
        Un newsletter personal donde comparto mis proyectos, reflexiones y
        novedades. Suscribite para recibirlo directamente en tu bandeja de
        entrada.
      </p>
      <NewsletterForm client:only />
    </section>
  </main>
</Layout>
